<article class="post">
  <div class="title">
    <p{{post_text}} target="_blank">{{title}}</p>
    <p>({{post_text}})</p>
  </div>
  <div class="meta">
    {{vote_count}} by {{user.username}} on {{created_at}}
    |
    <a href="/post/{{id}}">Comments: {{comments.length}}</a>
  </div>
</article>